@charset "utf-8";
*{
margin: 0;
padding: 0;
}
body{
  background-color: gray;
}
header{
  padding: 10px;
  text-align: center;
  background-color: red;
}
section{
  padding: 10px;
  background-color: orange;
}
aside{
padding: 10px;
  background-color: green;
}
footer{
  padding: 10px;
  background-color: blue;
  text-align: center;
}
@media screen and (max-width:640px){
body{
background-color: red;
}
}
@media screen and (min-width:641px) and (max-width:980px){
body{
background-color: green;
}
}
@media screen and (min-width:981px){
body{
background-color: blue;
}
}
@media screen and (orientation:portrait){
  body:after {
    content: "縦長";
  }
}
@media screen and (orientation:landscape){
  body:after {
    content: "横長";
  }
}
body{
  background-color: gray;
 font-family: "Sawarabi Mincho";
}
@media screen and (min-width:641px){
  aside{
    width: calc(50% - 20%);
    float:left;
  }
  #side:after{
    content:"";
    display:block;
    clear:both;
  }
}
@media screen and (min-width:1025px){
  #main{
    max-width: 1024px;
    margin: auto;
  }
  section{
    width: calc(70% - 20px);
    float:left;
  }
  #side{
    width: calc(1024px - 718px);
    float:left;
  }
  aside{
    width: calc(100% -20%);
  }
  #main:after{
    content:"";
    display:block;
   clear:both;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@charset "utf-8";
body{
background-color: mediumaquamarine;
}
#logo li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style-type: none;
}
#logo img {
  width: 100px;	
}
#gnav a {
  display: block;
  padding:10px 0;
  text-align: center;
  text-decoration: darkgreen;
  color: white;
}
#gnav a:after {
    clear: both;	
}
#gnav div.img {
  display: table-cell;
  vertical-align: middle;
  background: url(../css_sprite.zip) no-repeat;
  width: 55px;
  height: 46px;
}
#gnav div.text {
   display: table-cell;
   vertical-align: middle;
   padding:10px 5px;
}
div.img#home{    background-position: 0 0px;}
div.img#content1{background-position: 0 -46px;}
div.img#content2{background-position: 0 -92px;}
div.img#help{    background-position: 0 -148px;}
div.img#fap{     background-position: 0 -184px;}
#gnav a:hover { 
  background: lightgreen;
  color: black;
}
#gnav ul {
  overflow: hidden;	
}
#gnav li {
  float: left;
  width: 156px;
  border-right: white 1px solid;
  list-style-type: none;	
}
#gnav li:first-child{
  border-left: white 1px solid;	
}
.breadcrumbs li {
	display: inline;
	list-style-type: none;
}
.breadcrumbs li:before {
	content: " > ";
}
.breadcrumbs li:first-child:before {
	content:"";
}
#gnav a.selected {
  background: white;
  color: darkgreen;
  font-weight: bold;
}
